
@using SecondAspMvc6project.Models;

<h2>PermanentEmployee H3 tage</h2>
<h3> temp Data</h3>
@*@TempData["Employee"]*@

@{
    Employee ep = (Employee)TempData["employee"];
}
<h1> @ep.EmpID</h1>
<h1> @ep.EmpFirstName</h1>
<h1> @ep.EmpLastName</h1>
